#message {
  border: solid gray 1px;
  width: 300px;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

#clipboard {
  width: 325px;
  overflow: scroll;
}

#title {
  font-size: 22;
  font-weight: 100;
  margin: auto;
  width: 50%;
  position: relative;
}

#shuriken {
  width: 15px;
  height: 15px;
}
#darkmode {
  width: 15px;
  height: 15px;
}

#empty {
  font-size: 18;
  font-weight: 100;
  margin: auto;
  width: 50%;
  position: relative;
}
